<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://ifh.cc/g/NdOrVp.png" rel="icon">
    <link rel="stylesheet" href="../../static/css/plugin/reset.css">
    <link rel="stylesheet" href="../../static/css/plugin/common.css">
    <link rel="stylesheet" href="../../static/css/001.css">
	<script src="../../static/js/plugin/gsap.js"></script>
	<script src="../../static/js/plugin/scrollTrigger.js"></script>
	<script src="../../static/js/scrollbar.js"></script>
	<script src="../../static/js/setting.js"></script>
	<script src="../../static/js/001.js"></script>  
</head>


<body>
<div id="header">

</body>
</html>