<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- nav 고정 -->
    <nav id="navBox">
        <a href="http://localhost:8087/product"><img id="cate-img" src="https://i.postimg.cc/L6TtNrLn/Frame-7.png" alt="용품메인이미지"></a>   
            <ul class="category">
                <li><a href="http://localhost:8087/product">ALL</a></li>
                <li><a href="http://localhost:8087/product/sort1">텐트</a></li>
                <li><a href="http://localhost:8087/product/sort2">침낭/매트</a></li>
                <li><a href="http://localhost:8087/product/sort3">테이블/의자</a></li>
                <li><a href="http://localhost:8087/product/sort4">식기</a></li>
                <li><a href="http://localhost:8087/product/sort5">기타</a></li>
            </ul>
    </nav>
</body>
</html>